.dockerignore
.vscode
.idea
.readmes
/artifacts
/dependencies
/logs
.env.qa
**/*.env
*.sh

/logs
/artifacts
/dependencies
**/*.env
script.sh
**/output-*
**/AplicacionProperties.backup
*.sh
**/tomcat-qa-logs/*
**/tomcat-prod-logs/*
**/backup/*
**/infrastructure-architecture/
**/examples/