/zohoApi/target/
/zohoApi/nbproject/
api/.idea/
target/
*.iml
api.old/
/api/nbproject/

**/.DS_Store
target
.classpath
.project
.settings
/logs
/artifacts
/dependencies
**/*.env
**/*.sh
**/output-*
**/AplicacionProperties.backup
**/*logs/*
**/declutter/*
**/examples/*
**/terraform/*
**/*.yml
**/*backup.md
**/*.tfvars
**/*.tf
**/*.log
