/zohoApi/target/
/zohoApi/nbproject/
api/.idea/
target/
*.iml
api.old/
/api/nbproject/

**/.DS_Store
target
.classpath
.project
.settings
/logs
/artifacts
/dependencies
**/*.env
script.sh
**/output-*
**/AplicacionProperties.backup
*.sh
**/tomcat-qa-logs/*
**/tomcat-prod-logs/*
**/backup/*
**/examples/*
**/infrastructure-architecture/*